.sidebar {
  width: 20%;
  float: left;
  background-color: #e53170;
  margin-right: 5%;
  margin-left: 10%;
  padding: 20px;
  border: 2px solid #f25f4c;
  border-radius: 2px;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f25f4c;
  padding: 20px 0;
  font-size: 20px;
  border-bottom: 1px solid var(--neutral-focus);
}
.nav-links {
  display: none;
  list-style: none;
  font-family: sans-serif;
}

.main {
  margin-top: 5%;
  margin-right: 10%;
  color: #a7a9be;
  border: 2px dotted #ff8906;
  border-radius: 5px;
  padding: 10px;
}

body{
  background-color: #0f0e17;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 12%;
  color: #a7a9be;
}

h2 {
  margin-left: 10%;
}

.images {
  color: #a7a9be;
  margin-top: 8%;
}

#b-w {
  height: 30%;
  width: 30%;
  float: right;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  border: 2px solid #ff8906;
  border-radius: 2px;
  padding: 5px;
}

#blue {
  height: 30%;
  width: 30%;
  float: left;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  border: 2px solid #ff8906;
  border-radius: 2px;
  padding: 5px;
}

.paragraph {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}